In [3]:
import pymysql.cursors
import os
import json

# variables we'll need
host = os.environ['DBHOST']   ### NOTE! Using private RDS setup
port = 3306
dbname = os.environ['DBNAME']
user = os.environ['DBUSER']
password = os.environ['DBPASSWORD']
# url = os.environ['URL']
# trigger_key = os.environ['TRIGGER']
# table_name = "data"

In [4]:
# Change the database we're using
dbname = 'collab'

In [5]:
def send_sql(sql):
    # Connect to the database
    connection = pymysql.connect(host=host,
                                 user=user,
                                 password=password,
                                 db=dbname,
                                 charset='utf8mb4',
                                 cursorclass=pymysql.cursors.DictCursor)

    try:
        with connection.cursor() as cursor:
            # Create a new record
            cursor.execute(sql)
            

        # connection is not autocommit by default. So you must commit to save
        # your changes.
        connection.commit()
        
        # prints number of rows affected
        print(cursor.rowcount)

    finally:
        connection.close()

In [3]:
## Create a new database in the smarts public cluster
sql = 'CREATE DATABASE collab;'
send_sql(sql)

## then change the name of the database in this notebook
dbname = 'collab'

1

In [6]:
# Create new table for initial contacts
# We will use this to order our CSV
sql = '''
CREATE TABLE `first_contact` (
    `identifier` varchar(32) COLLATE utf8_bin NOT NULL PRIMARY KEY,
    `created_at` DATETIME
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
'''

send_sql(sql)

0

In [7]:
# Create new table for every message received
sql = '''
CREATE TABLE `data_pieces` (
    `ident_key_hash` varchar(32) COLLATE utf8_bin NOT NULL PRIMARY KEY,
    `created_at` DATETIME,
    `identifier` varchar(32) COLLATE utf8_bin NOT NULL,
    `item_key` varchar(100) COLLATE utf8_bin NOT NULL,
    `item_value` varchar(255) COLLATE utf8_bin NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
'''

send_sql(sql)

0

In [16]:
# Create new table for columns creation
# We will use this to order columns CSV
sql = '''
CREATE TABLE `column_tracker` (
    `col` varchar(100) COLLATE utf8_bin NOT NULL PRIMARY KEY,
    `created_at` DATETIME
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
'''

send_sql(sql)

0

In [8]:
sql = '''
CREATE TABLE `text_log` (
    `id` MEDIUMINT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    `created_at` DATETIME,
    `identifier` varchar(32) COLLATE utf8_bin NOT NULL,
    `raw_text` varchar(255) COLLATE utf8_bin NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
'''

send_sql(sql)

0

In [6]:
sql = 'DROP TABLE log'
send_sql(sql)

0

In [46]:
sql = '''
INSERT IGNORE INTO transactions 
 (item_hash)
VALUES
 ('tester2')
'''

send_sql(sql)

0

In [4]:
sql = 'DROP DATABASE collabridge'
send_sql(sql)

0